<%= form_with scope: :blog, local: true do |form| %>
  <p id='insert27'>
    <%= form.label :title %><br id='insert28'>
    <%= form.text_field :title %>
  </p>
 
  <p id='insert29'>
    <%= form.label :text %><br id='insert30'>
    <%= form.text_area :text %>
  </p>
 
  <p id='insert31'>
    <%= form.submit %>
  </p>
<% end %>